body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}



.sous-titre-expliquation{
    font-size: 26px;
    margin-right: 50px;
    margin-left: 50px;
}


.boutton_marge{
    margin-bottom: 55px;
}

.tuto{
    padding: 16px ;
}

.localisation{
    background-color: #eaeaea;
}

.vide{
    z-index: 1;
}


.plein:hover {     
opacity: 1;
}

.brief{
    background-color: #f6f6f6;
    padding: 20px;
}

.format{
    position: relative;
    background-color: #f6f6f6;
    box-shadow: 0px 10px 8px 6px rgba(224, 224, 224, 0.43);
    font-family: roboto;
    padding: 24px;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px;
    border-radius: 20px;
    
}

.num1 {
    display: flex;
    color: white;
    height: 24PX;
    width: 24px;
    background-color: #9356dc;
    font-size: 15px;
    position: absolute;
    border-radius: 100px;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    left: -10px;
    top: 20px;
}

.num2 {
    display: flex;
    color: white;
    height: 24PX;
    width: 24px;
    background-color: #9356dc;
    font-size: 15px;
    position: absolute;
    border-radius: 100px;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    left: -10px;
    top: 20px;
}

.num3 {
    display: flex;
    color: white;
    height: 24PX;
    width: 24px;
    background-color: #9356dc;
    font-size: 15px;
    position: absolute;
    border-radius: 100px;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    left: -10px;
    top: 20px;
}

.fa-mobile-screen-button{
    color: #7e7e7e;
    margin-right: 27px;
}

.fa-list{
    color: #7e7e7e;
    margin-right: 27px;
}

.fa-store{
    color: #7e7e7e;
    margin-right: 27px;
}

.format:hover{
    background-color: #f5edff;
}

.fa-store:hover {
    color: #9356dc;
}

.fa-list:hover {
    color: #9356dc;
}

.fa-mobile-screen-button:hover {
    color: #9356dc;
}



h2 {
    font-family: 'Roboto', sans-serif;
}



.phrase_explication{
    margin-bottom: 50px;
    margin-top: -11px;
}

.localisation_TXT{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #353535;
    display: flex;
    justify-content: center;

    }

.fa-location-dot {
    margin-right: 5px;
    font-size: 19px;
    padding-right: 10px;
    color: #353535;

}


.expliquation{
    font-size: 20px;
    text-align: center;
}

.boutton{
    box-shadow: 0px 10px 8px 6px rgba(173, 168, 168, 0.719);
    padding: 10px;
    border-radius: 35px;
    border: none;
    background: linear-gradient( #FF79DA, #9356DC );
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.boutton:hover {
    background: linear-gradient(#ff9ce3, #ae83e2);
    box-shadow: 0px 10px 8px 6px rgba(126, 125, 125, 0.603);
}

a {
    text-decoration: none;
    color: black;
}

.restaurants{
    padding: 16px;
    background-color: #f6f6f6;
}

ol{
    list-style: none;
    position: relative;
    left: -15px;
}

.image_vignette_main{
    display: flex;
    object-fit: cover;
    height: 165px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.resto{
    display: flex;
    flex-direction: column;
}

.vignettes_restaurants{
    box-shadow: 0px 10px 8px 6px rgba(224, 224, 224, 0.43);
    position: relative;
    background-color:rgb(255, 255, 255);
    border-radius: 20px ;
    margin-bottom: 25px;

}

.tuto_titre{
    padding-left: 16px;
}

.titre_resto{
    margin: 0%;
    font-weight: 1200;
    font-size: 17px;
}

.soustitre{
    margin: 0;
}

.badge{
    position: absolute;
    font-size: 14px;
    color: #139273;
    background-color: #99E2D0;
    top: 10px;
    right: 8px;
    padding: 8px;
    font-weight: bold;
    font-family: roboto;
}


.txt_vignette{
    margin: 10px;
    font-family: roboto;
}


.fa-heart{
    position: absolute;
    right: 33px;
    top: 190px;
    font-size: 22px;
}

.plein {
    transition: opacity .1s;
    z-index: 2;
    background-clip: text;
    background: linear-gradient(#FF79DA, #9356DC);
    opacity: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    top: 188px;
    right: 32px;
}

.chargement{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 9;
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
}


.roue {
    position: absolute;
    top: 50%;
    left: 47%;
    bottom: 50%;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 14.1px solid;
    border-color: #dbdcef;
    border-right-color: #9356dc;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {

    from{
        transform: rotate(0deg); 
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader {

    to {
        opacity: 0;
        z-index: -100;
    }
}



@media all and (min-width:1025px) {
  
    ol{
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }
    
    .resto{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .vignettes_restaurants{
        
        width: 500px;
    }

}




