.header{
position: relative;
}

.fleche{
position: absolute;
font-size: 25px;
left: 18px;
color: #353535;
}

a{
color: #353535;;
}

body{
margin: 0%;
font-family: Roboto
}

.logo_page{
margin-bottom: 13px;
}

.image_restaurants{
max-width: 100%;
width: 100%;
height: 250px;
object-fit: cover;
}



.conteneur_menu{
position: relative;
margin-top: -58px;
border-top-right-radius: 40px;
border-top-left-radius: 40px;
background-color: #f6f6f6;
}

.Titre{
padding: 16px 32px 0 16px;
display: flex;
align-items: center;
justify-content: space-between;
}

.titre_restaurant{
font-family: Shrikhand, "cursive";
}

.fa-heart{
font-size: 31px;
position: absolute;
right: 35px;
}

.plein {
font-size: 34px;
right: 34px;
transition: opacity .1s;
z-index: 2;
background-clip: text;
background: linear-gradient(#FF79DA, #9356DC);
opacity: 0;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.plein:hover {     
opacity: 1;
}

.vide {
z-index: 1;
}



.groupeEntree{
    padding: 0 11.5px;
    margin-top: 40px;
    animation: apparition 0.5s;
}

.groupePlat {
    padding: 0 11.5px;
    margin-top: 40px;
    animation: apparition 2s;
}

.groupeDessert {
    padding: 0 11.5px;
    margin-top: 40px;
    animation: apparition 3.5s;
}



.sous-titre{
margin-top: 45px;
font-family: roboto;
font-weight: 400;

}

.espace-titre{
padding: 0 25px;
}

.sous-ligne{
border-bottom: 3px solid #99e2d0;
width: 50px;
padding-bottom: 10px;
}


.vignettes{
box-shadow: 0px 10px 8px 6px rgba(224, 224, 224, 0.43);
background-color: white;
display: flex;
justify-content: space-between;
border-radius: 20px;
height: 68px;
width: 95%;
margin: 16px 0;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
}


.plat_nom{
margin: 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

.composition{
margin: 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

.prix{
display: flex;
align-items: flex-end;
justify-content: flex-end;
font-weight: 700;  
padding-bottom: 15px;
padding-right: 12px;
transition-duration: .5s;
}

.boutton {
font-size: 17.6px;
padding: 12px 24px;
border-radius: 35px;
border: none;
background: linear-gradient(#FF79DA, #9356DC);
text-decoration: none;
color: white;
}

.bas{
background-color: #f6f6f6;
display: flex;
justify-content: center;
padding: 48px;
}

.txt{
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
padding: 11px;
}

.coulissement{
background-color: #99e2d0;
width: 64px;
display: flex;
align-items: center;
justify-content: center;
transform: translateX(100px);
transition-duration: .7s;
position: absolute;
right: 0;
height: 68px;
}

.confirm{
background-color: white;
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transform: rotate(180deg);
transition-duration: 1s;
}

.vignettes:hover .coulissement{
transform: translateX(0);
}

.vignettes:hover .prix {
    margin-right: 60px;
}

.vignettes:hover .confirm {
    transform: rotate(0);
}




.fa-check{
color: #99e2d0;
}



@keyframes apparition {
from{
transform: translateY(50px);
opacity: 0;
}

to{
transform: translateY(0);
opacity: 100%;
}
}


@media all and (min-width:1025px)  {
    
    .groupeEntree{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .groupePlat {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .groupeDessert {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .vignettes{
        width: 31%;
    }
    
}










